@model BookSite.Models.ViewModels.MemberIndexViewModel
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<h3>Clubs</h3>
@if (Model != null && Model.Clubs != null && Model.Clubs.Count > 0)
{
    <table class="table-striped" width="100%">
        <tr>
            <th class="col-md-3">
                Club Name
            </th>
            <th class="col-md-3">
                Current Book
            </th>
            <th class="col-md-6">

            </th>
        </tr>
        @foreach (BookSite.Models.SiteModels.BookClub club in Model.Clubs)
        {
            <tr>
                <td>
                    @Html.ActionLink(club.Name, "Index", "Club", new { id = club.Id }, null)
                </td>
                <td>
                    @if (club.NextBook != null)
                    {
                        @club.NextBook.Title
                    }
                    else
                    {
                        @Html.Raw("None");
                    }
                </td>
                <td style="text-align:center">
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Search for a club to join or start one yourself.</p>
}
<h3>Friends</h3>
@if (Model.Friends != null && Model.Friends.Count > 0)
{
    <table class="table-striped" width="100%">
        <tr>
            <th class="col-md-3">
                User Name
            </th>
            <th class="col-md-3">

            </th>
            <th class="col-md-6">

            </th>
        </tr>
        @foreach (BookSite.Models.SiteModels.Member friend in Model.Friends)
        {
            <tr>
                <td>
                    @Html.ActionLink(friend.DisplayName, "Details", "Member", new { id = friend.Id }, null)
                </td>
                <td>
                </td>
                <td style="text-align:center">
                    @Html.ActionLink("Remove Friend", "RemoveFriend", "Member", new { id = friend.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Search for other members by name or by the books or authors that they like.</p>
}
<h3>Recommendations based on the books on your shelf:</h3>
@if (Model.Recommendations.Count > 0)
{
    <div id="recommendCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="height: 200px">
            @for (int i = 0; (i < Model.Recommendations.Count && i < 5); i++)
            {
                <div class="item @if (i == 0) {@Html.Raw("active")}">
                    <img class="bookThumbnail" style="margin-left:25%" src="@Model.Recommendations[i].Thumbnail" alt="@Model.Recommendations[i].Title">
                    <div class="carousel-caption">
                        <h4 style="color: aliceblue">@Model.Recommendations[i].Title</h4>
                        <h5 style="color: aliceblue">@Model.Recommendations[i].Authors</h5>
                        @Html.ActionLink("Link", "Details", "Book", new { id = Model.Recommendations[i].GoogleVolumeId }, null)
                    </div>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#recommendCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#recommendCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
}
else
{
    <p>Add books to your Shelf to get recommendations based on the Shelves of people who like the same books.</p>
}

@if (Model.AuthorBooks.Count > 0)
{
    <h3>More by authors you know:</h3>
    <div id="authorCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="height: 200px">
            @for (int i = 0; (i < Model.AuthorBooks.Count && i < 5); i++)
            {
                <div style="text-align:center" class="item @if (i == 0) {@Html.Raw("active")}">
                    <img class="bookThumbnail" style="margin-left:25%" src="@Model.AuthorBooks[i].Thumbnail" alt="@Model.AuthorBooks[i].Title">
                    <div class="carousel-caption">
                        <h4 style="color: aliceblue">@Model.AuthorBooks[i].Title</h4>
                        <h5 style="color: aliceblue">@Model.AuthorBooks[i].Authors</h5>
                        @Html.ActionLink("Link", "Details", "Book", new { id = Model.AuthorBooks[i].GoogleVolumeId }, null)
                    </div>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#authorCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#authorCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
}

@if (Model.FriendsBooks.Count > 0)
{
    <h3>Recomendations based on your friends shelves:</h3>
    <div id="friendCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="height: 200px">
            @for (int i = 0; (i < Model.FriendsBooks.Count && i < 5); i++)
            {
                <div class="item @if (i == 0) {@Html.Raw("active")}">
                    <img class="bookThumbnail" style="margin-left:25%" src="@Model.FriendsBooks[i].Thumbnail" alt="@Model.FriendsBooks[i].Title">
                    <div class="carousel-caption">
                        <h4 style="color: aliceblue">@Model.FriendsBooks[i].Title</h4>
                        @Html.ActionLink("Link", "Details", "Book", new { id = Model.FriendsBooks[i].GoogleVolumeId }, null)
                    </div>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#friendCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#friendCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
}

