@model BookSite.Models.ViewModels.ViewDiscussionViewModel
@{
    ViewBag.Title = "View";
}

<h2>@Model.Discussion.Name</h2>
    <center>
        <img src="@Model.Book.Thumbnail"/>
    </center>

<div class="container">
    <table class="table-striped" id="discussion" width="100%">
        @if (Model.Comments != null && Model.Comments.Count > 0) {
            foreach (BookSite.Models.SiteModels.Comment comment in Model.Comments)
            {
                <tr>
                    <td class="col-md-3">
                        <p>@(comment.TimeOfPost.ToShortDateString() + " " + comment.TimeOfPost.ToShortTimeString())</p>
                        <img style="height:100px; width:100px"src="@comment.Member.UserImage"/>
                        @Html.ActionLink(comment.Member.DisplayName, "Details", "Member", new { id = comment.Member.Id },new { style = "color:aqua; font-size: 18px"})
                    </td>
                    <td class="col-md-9">
                            @foreach(string line in comment.Body.Split('\n'))
                            {
                                <p>@line</p>
                            }
                    </td>
                </tr>
             }
         }
    </table>
    @if (!Model.Discussion.HasEnded && Model.Discussion.HasStarted)
    {
    <textarea type="text" id="message" style="width: 100%" rows="5"></textarea>
    <input type="button" class="btn" id="sendmessage" value="Send" style="color:white; background-color: slategrey"/>
    }
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            var name = "@Model.Member.DisplayName";
            var discussionId = "@Model.Discussion.Id";
            var memberId = "@Model.Member.Id";
            var bookId = "@Model.Book.Id";
            chat.client.addNewMessageToPage = function (name, message, date, time, id, userImage) {
                $('#discussion').append("<tr>" +
                                            "<td class='col-md-3'><p>" + date + " " + time + "</p>" +
                                            "<img style='height:100px; width:100px'src='" + userImage + "' + />" + 
                                            "<a style = 'color:aqua; font-size: 18px' href = '/Member/Details/" + id + "'>" + name + "</a>" + 
                                            "</td>" + 
                                            "<td class='col-md-9'>" + message + 
                                            "</td>" + 
                                        "</tr>");
            };
            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.sendAsync(name, $('#message').val(), discussionId, memberId, bookId);
                    $('#message').val('').focus();
                });
            });
        });
    </script>
}
<style>
    td{
        height: 20px;
        max-width:500px;
        word-wrap:break-word;
    }
    table{
        table-layout:fixed;
    }
    img{
        display:block;
    }
</style>