@model BookSite.Models.ViewModels.ClubIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Club.Name</h2>
@Html.ActionLink("Choose Next Book", "NewBookSearch", "Club", new { clubId = Model.Club.Id }, new { @class = "btn btn-primary" })
@if (Model.IsManager)
{
    @Html.ActionLink("Edit Club", "Edit", "Club", new { id = Model.Club.Id }, null)
}
<h3>Members</h3>
<table class="table-striped" width="100%">
    <tr>
        <th class="col-md-4">
            User Name
        </th>
        <th class="col-md-8">
        </th>
    </tr>
    @foreach (BookSite.Models.SiteModels.Member member in Model.Members)
    {
        <tr>
            <td>
                @Html.ActionLink(member.DisplayName, "Details", "Member", new { id = member.Id }, null)
            </td>
        </tr>
    }
</table>
<h3>Discussions</h3>
<table class="table-striped" width="100%">
    <tr>
        <th class="col-md-3">
            Name
        </th>
        <th class="col-md-3">
            Book
        </th>
        <th class="col-md-2">
            Date
        </th>
        <th class="col-md-2">
            Time
        </th>
        <th class="col-md-1">

        </th>
        <th class="col-md-1">

        </th>
    </tr>
    @if (Model.Discussions != null && Model.Discussions.Count > 0)
    {
        foreach (BookSite.Models.SiteModels.Discussion discussion in Model.Discussions)
        {
            <tr>
                <td>
                    @if (discussion.HasStarted)
                    {
                        @Html.ActionLink(discussion.Name, "View", "Discussion", new { id = discussion.Id }, null)
                    }
                    else
                    {
                        Html.Raw(discussion.Name);
                    }
                </td>
                <td>
                    @discussion.Book.Title
                </td>
                <td>
                    @discussion.StartTime.Month/@discussion.StartTime.Day/@discussion.StartTime.Year
                </td>
                <td>
                    @discussion.StartTime.ToShortTimeString()
                </td>
                <td>
                    @if (Model.IsManager && !discussion.HasStarted)
                    {
                        @Html.ActionLink("Edit", "Edit", "Discussion", new { id = discussion.Id } , null)
                    }
                </td>
                <td>
                    @if ((discussion.StartTime - DateTime.Now).TotalMinutes < 5 && !discussion.HasStarted)
                    {
                        @Html.ActionLink("Start", "GoLive", "Discussion", new { id = discussion.Id }, new { @class = "btn btn-success" })
                    }
                    else if(discussion.HasStarted && !discussion.HasEnded && Model.IsManager)
                    {
                        @Html.ActionLink("End", "Close", "Discussion", new { id = discussion.Id}, new { @class = "btn btn-danger"})
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                This Club has not had any Discussions yet.
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>
@if (Model.Books.Count > 0)
{
    <h3>Most common books on the shelves of members of @Model.Club.Name:</h3>
    <div id="shelfCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="height: 200px">
            @for (int i = 0; (i < Model.Books.Count && i < 5); i++)
            {
                <div class="item @if (i == 0) {@Html.Raw("active")}">
                    <img src="@Model.Books[i].Thumbnail" alt="@Model.Books[i].Title">
                    <div class="carousel-caption">
                        <h4 style="color: black">@Model.Books[i].Title</h4>
                        @Html.ActionLink("Link", "Details", "Book", new { id = Model.Books[i].Id }, null)
                    </div>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#shelfCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#shelfCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
}